{% extends "base.html" %}

{% block title %}
登录
{% endblock %}

{% block content %}
<div class="container">
                <form class="form-horizontal" role="form" method="post">
                <div class="col-md-12 column">
                    <h3 class="text-center">
                        金窝窝运维平台
                    </h3>
                </div>

                <div class="input-group input-group-lg">
                        <span class="input-group-addon">账&nbsp;&nbsp;号</span>
                        <input type="username" class="form-control" name="username">
                </div><br>
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">密&nbsp;&nbsp;码</span>
                        <input type="password" class="form-control" name="pwd">
                </div><br>
                <input type="submit" class="btn btn-block btn-success btn-default" value='登 录'>
		</form>

</div>
{% endblock %}
